USE [master]
GO
/****** Object:  Database [CS544DE]    Script Date: 03/27/2016 16:29:51 ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'CS544DE')
BEGIN
CREATE DATABASE [CS544DE] ON  PRIMARY 
( NAME = N'CS544DE', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\CS544DE.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CS544DE_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\CS544DE_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CS544DE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CS544DE]
GO
/****** Object:  Table [dbo].[CarTbl]    Script Date: 03/27/2016 16:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CarTbl]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CarTbl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Make] [nvarchar](50) NULL,
	[Model] [nvarchar](50) NULL,
	[ManufacturingYear] [int] NULL,
	[Miles] [int] NULL,
	[Color] [nvarchar](50) NULL,
 CONSTRAINT [PK_CarTbl] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
